<div class="container-fluid">
    <div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/builds">КОРПУСА</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rooms">ПОМЕЩЕНИЯ</a>
            </li>
            <router-outlet></router-outlet>
        </ul>
        <p class="h3 mb-3">
            Система учета аудиторного фонда ВУЗа
        </p>
        <p>
            Учетная система аудиторного фонда предприятия (ВУЗа) предназначена для хранения структурированной информации
            о помещениях предприятия и их характеристиках.
        </p>
        <p class="h4 mb-3">
            Позволяет:
        </p>
        <ul>
            <li>Вести учет корпусов (просмотр списка, добавление, редактирование и удаление информации)</li>
            <li>Вести учет аудиторий (просмотр списка, добавление, редактирование и удаление информации)</li>
            <li>Отправлять информацию об изменении в системе учета корпусов в систему учета аудиторий</li>
        </ul>
    </div>
</div>