<hr>
<form class="was-validated">
  <div *ngIf="room">
    <table>
      <tbody>

        <tr>
          <td>
            <label for="roomName" class="form-label">
              Название помещения
            </label>
          </td>
          <td>
            <input type="text" class="form-control mb-2 ms-5" id="roomame" name="roomName" maxlength="35"
              [(ngModel)]="room.roomName" placeholder="Лабораторная" required />
          </td>
        </tr>

        <tr>
          <td>
            <label for="buildId" class="form-label">
              Корпус
            </label>
          </td>
          <td>
            <select class="form-select mb-2 ms-5" name="buildId" id="buildId" [(ngModel)]="room.buildId" required
              aria-label="select example">
              <option *ngFor="let type of BuildList$ | async" [value]="type.buildId">
                {{ type.buildName }}
              </option>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label for="roomTypeId" class="form-label">
              Тип
            </label>
          </td>
          <td>
            <select class="form-select mb-2 ms-5" name="roomTypeId" id="roomTypeId" [(ngModel)]="room.roomTypeId"
              required aria-label="select example">
              <option *ngFor="let type of RoomTypeList$ | async" [value]="type.roomTypeId">
                {{ type.roomTypeName }}
              </option>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label for="floor" class="form-label">
              Этаж
            </label>
          </td>
          <td>
            <input type="text" class="form-control mb-2 ms-5" id="room" name="room" maxlength="35"
              [(ngModel)]="room.floor" placeholder="Этаж (цифра)" required />
          </td>
        </tr>

        <tr>
          <td>
            <label for="roomNumber" class="form-label">
              Номер помещения
            </label>
          </td>
          <td>
            <input type="text" class="form-control mb-2 ms-5" id="roomNumber" name="roomNumber" maxlength="35"
              [(ngModel)]="room.roomNumber" placeholder="Номер помещения (123)" required />
          </td>
        </tr>

        <tr>
          <td>
            <label for="capacity" class="form-label">
              Вместимость
            </label>
          </td>
          <td>
            <input type="text" class="form-control mb-2 ms-5" id="capacity" name="capacity" maxlength="35"
              [(ngModel)]="room.capacity" placeholder="Вместимость (макс. кол-во человек)" required />
          </td>
        </tr>

      </tbody>
    </table>
    <div class="row g-3">
      <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" (click)="updateRoom(room)" *ngIf="room.roomId"
          onClick="window.location.reload();">Сохранить</button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-danger mb-3" (click)="deleteRoom(room)" *ngIf="room.roomId"
          onClick="window.location.reload();">Удалить</button>
      </div>
    </div>
  </div>
</form>